<div class="mi-perfil-container">
  <div class="usuario-card">
    <div class="imagen-container">
      <img class="imagen" src="{{especialista.imagen || defaultImage}}" alt="Imagen de Usuario Especialista">
    </div>
    <div class="info-container">
      <div class="info-field">
        <span class="info-label">Nombre:</span>
        <span class="info-value">{{especialista.nombre}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Apellido:</span>
        <span class="info-value">{{especialista.apellido}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Edad:</span>
        <span class="info-value">{{especialista.edad}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">DNI:</span>
        <span class="info-value">{{especialista.dni}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Especialidades:</span>
        <span class="info-value">{{especialista.especialidades}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Email:</span>
        <span class="info-value">{{especialista.email}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Email Verificado:</span>
        <span class="info-value">{{especialista.emailVerificado}}</span>
      </div>
      <div class="info-field">
        <span class="info-label">Aprobado:</span>
        <span class="info-value">{{especialista.aprobado}}</span>
      </div>
    </div>

  </div>

</div>


